.contact-section {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.container-contact {
   
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
    
}

.container-contact h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d10813;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}
